@media(max-width: 1280px){
    
}

@media(max-width: 1024px){

}

@media(max-width: 768px){

}

@media(max-width: 640px){
    footer{
        padding: 0px !important;
        bottom: 0.5em;
        position: fixed;
        left: 3em;
        right: 3em;
    }
}