#toggle{
    display: none;
    cursor: pointer;
}

.nav-list-opened{
    display: initial !important;
}

.nav-opened{
    /* flex-direction: column !important; */
    /* align-content: left; */
}

.nav-opened > div:nth-child(1){
    width: 100% !important;
}

@media(max-width: 1280px){
    
}

@media(max-width: 1024px){

}

@media(max-width: 768px){
    nav{
        padding-bottom: 2em !important;
    }
}

@media(max-width: 640px){
    nav{
        padding: 3em !important;
        padding-top: 2em !important;
        padding-bottom: 1em !important;
    }

    #toggle{
        display: initial;
        width: 100%;
        display: flex;
        justify-content: end;
    }

    #nav-list > a{
        font-size: 1em !important;
    }

    .nav-list-closed{
        display: none !important;
    }

    /* 189:31 */
    #brand-logo{
        width: 151.2px !important;
        height: 24.8px !important; 
    }
}