@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
	font-family: "Poppins" !important;
}

.no-outline{
	outline: 0;
}

.no-outline:focus{
	outline: none;
}

body{
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.inactive:hover{
	color: var(--primary) !important;
	border-bottom: 1px solid var(--primary-faded) !important;
}

.active{
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}

.search-bar-btn:hover{
	color: #ffffff !important;
	background-color: var(--primary);
}

.search-bar-btn:focus, .search-bar:focus{
	border: 2px solid var(--primary-faded) !important;
}

.footer-link:hover{
	background-color: #f8f8f8;
}

@media(max-width: 1280px){
    
}

@media(max-width: 1024px){
	.navbar{
		padding-left: 3em !important;
		padding-right: 3em !important;
	}
}

@media(max-width: 768px){
    .search-bar{
    	width: 70% !important;
    }

    .search-bar-btn{
    	width: 25% !important;
    }

    .api-card{
		width: 100% !important;
		margin: 0px !important;
		margin-bottom: 1em !important;
	}
}

@media(max-width: 640px){
    .navbar{
		padding-right: 0.8em !important;
		padding-left: 0.8em !important;
		height: 5em !important;
	}

	.navbar-brand{
		font-size: 1.5em  !important;
	}

	#navbarTogglerDemo02{
		background-color: #ffffff;
		padding: 1em;
		border-radius: 1em;
	}

	.explore-section > h2{
		font-size: 2em !important;
		font-weight: 500 !important;
	}

	.footer-note{
		width: 50%;
	}

	.footer-links{
		width: 35%
;	}
}